{% extends 'base.html' %}

{% block content %}

{% if object %}
<div class="container">
  <h1>Edit <span class="text-dark">{{rock.name}}</span></h1>
</div>
{% else %}
<h1>Add Rock</h1>
  {% endif %}

  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="POST" class="row g-3">
    {% csrf_token %}
    <table>
      <td class="'col">Name</td>
      <td class="'col">Category</td>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn btn-primary btn-outline btn-outline-warning">
  </form>
{% endblock %}
