{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rock Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="light-background">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand light-text" href="/">ROCKS!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link light-text" aria-current="page" href="/rocks">Display Rocks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link light-text" href="/what">About</a>
            </li>
            
          </ul>
         
        </div>
      </div>
    </nav>
 
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="navbar bg-dark">
    <div class="container text-light">All Rights Reserved, &copy; 2021 Rock Collector &nbsp;</div>
  </footer>
</body>
</html>
