{% extends 'base.html' %}
{% block content %}

<h1>Rock List</h1>

{% for rock in rocks %}
<div class="col-7 mx-auto my-5">
    <div class="card lifted ">
        <ul class="list-group list-group-flush base-text">
            <a class="nav-link light-text" aria-current="page" href="{% url 'detail' rock.id %}">Display this Rock</a>
            <li class="list-group-item "><small class="base-text">{{ rock.name }}</small></li>
            <li class="list-group-item "><small class="">Breed: {{ rock.category }}</small></li>
            <li class="list-group-item "><small class="light-text">Description: {{ rock.description }}</small></li>
            {% if rock.grams > 1 %}
            <li class="list-group-item bg-dark"><small class="light-text">Weight: {{ rock.grams }} grams</small></li>
            {% else %}
            <li class="list-group-item bg-dark"><small class="light-text">Weight: dust</small></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock %}
